<header>
  <h1>allow-empty</h1>

  <p>
    <code>allow-empty</code> is an experimental blog by <a href="https://github.com/danott/">@danott</a>. 
    Git commits in the <a href="https://github.com/danott/allow-empty" >github.com/danott/allow-empty</a> repository are the posts.
  </p>

  <p>Grab <a href="/feed.xml">the RSS feed</a> while you're here.</p>
</header>

<main>
  <% commits.each do |commit| %>
    <%= commit.render(rendering_collection: true) %>
  <% end %>
</main>
